/* Big tablet to 1200px (widths smaller taht the 1140px row) */

@media only screen and (max-width: 1280px) {
    .hero-text-box {
        width: 80%;
        padding: 0 2%;
    }
    .row {
        padding: 0 4%;
    }
    .navi {
        width: 80%;
        padding: 0 2%;
    }
}

/* Small tablet to big tablet: from 768px to 1023px */

@media only screen and (max-width: 1023px) {
    body {
        font-size: 19px;
    }
    section {
        padding: 45px 0;
    }
    .navi {
        top: 55px;
    }
    .logo {
        /* height: 150px; */
        /* margin-top: 57px; */
    }
}

@media only screen and (max-width: 980px) {
    body {
        font-size: 18px;
    }
    .pvt {
        display: none;
    }
    .long-text {
        display: none;
    }
    .min-text {
        padding-top: 10px;
        display: inherit;
        padding-bottom: 18.5px;
    }
    .client-text {
        display: none;
    }
    .dot {
        margin-top: -12%;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 17px;
    }
    .main-nav {
        display: none;
    }

    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    .main-nav li {
        display: inline-block;
    }
    /* .align-circles.span-1-of-6 {
        18.72%;
    } */
    .contact-info img, .contact-info a {
        margin: 0 auto;
    }

    .contact-info img{
/*         padding: 20px; */
        width: 65px;
    }

    .contact-info .col{
        width: 100%;
        padding-top: 0px !important;
        display: block;
        text-align: center;
    }

    #map {
        height: 412px;
    }
    
    footer ul{
        font-size: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .col {
        float: none;
    }

    .contact-input {
        display: none;
    }

    .dot{
        display: none;
    }

    .timeline{
        display: none;
    }

    .story-container img {
        width: 12%;
    }

    .story_year {
        font-size: 145% !important;
    }

    .custom-bullet{
        display: block;
    }
    
    .align-circles{
        display: none;
    }

    .section-capacity h4{
        text-align: left !important;
        padding-bottom: 10px;
    }
    .large-image{
        display: none;
    }

    .story-container img{
        margin-top: 4%;
    }

    .section-clients .span-1-of-4{
        width: 58%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 21px;
    }

    .box img{
        margin-bottom: 0px;
    }
}
